<div class="container inner">
    <div class="blog list-view row">
        <div class="col-md-8 col-sm-12 content">
            <div class="blog-posts">
                {% include('admin/dashboard/_partials/pagination.html.twig') %}
                <div class="divide40"></div>
                {% for post in posts %}
                <div class="post box">
                    <div class="row">
                        <div class="col-sm-5">
                            <figure class="frame"><a href="/blog/article/{{ post.id }}">
                                    <div class="text-overlay">
                                        <div class="info"><span>Voir plus</span></div>
                                    </div>
                                    <img src="../../../img/{{ post.image }}" alt="" />
                                </a></figure>
                        </div>
                        <div class="col-sm-7 post-content">
                            <div class="meta">
                                <span class="category">
                                    {{ post.category }}
                                </span>
                                <span class="date">{{ post.created_at|date("d/m/Y") }}</span>
                                <span class="comments"><a href="#">{{ post.numberComments }} <i class="icon-chat-1"></i></a></span>
                            </div>
                            <h2 class="post-title"><a href="index.php?c=blog&t=post&id={{ post.id }}">{{ post.title|e }}</a></h2>
                            {{ post.content|slice(0,200)|raw }}
                            <div class="divide40"></div>
                            <div>
                                {% for tag in tags %}
                                    {% for singleTag in tags_per_post %}
                                        {% if ((singleTag.tag == tag.name) and (singleTag.id == post.id)) %}
                                            #{{ singleTag.tag}}
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% include('admin/dashboard/_partials/pagination.html.twig') %}
        </div>
        {{ include('front/blog/_partials/aside/index.html.twig')}}
    </div>
    <div class="divide100"></div>
