<div class="pagination box" style="text-align: center;">
    <ul>
        <li>
          <a href="{{ __DIR__}}{{ _get.page - 1 }}" class="btn {% if _get.page == 1  %}disabled{% endif %}">
            <i class="icon-left-dir-1"></i>
          </a>
        </li>
        {% for i in 1..numberOfPages %}
          <li class="btn {% if (_get.page == i) %}active{% endif %}">
            <a href="{{ __DIR__}}{{ i }}" style="border:none;">{{ i }}</a>
          </li>
        {% endfor %}
        <li>
          <a href="{{ __DIR__}}{% if _get.page == null %}2{% else %}{{ _get.page + 1 }}{% endif %}" class="btn {% if _get.page == numberOfPages %}disabled{% endif %}">
            <i class="icon-right-dir-1"></i>
          </a>
        </li>
    </ul>
</div>
